@font-face {
    font-family: 'marianne-regular';
    src: url('fonts/marianne-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Maintenance{
	text-align:center;
    font-family: marianne-regular;
	font-size:50px;
    font-weight: bold;
	padding:200px 0 200px 0;
}